
{% extends "base.html" %} 
{% block content %}
{% load static %}

<div class="page-container">
    <div class="page">
    <!-- Page title -->
        <section class="flex-center w-100 text-align-center ">
            <h2 class="page-title">
                About
            </h2>
        </section>
        <section class="flex-relative align-items-center 
            pt-4 w-75 border-radius-soft padding-sides-20 dark-background mt-4">
            <p>
                <em>Bottle Post Recipes</em> is an open-source web app inspired
                by the famous bottle post. Our mission is to provide a system that 
                favors high quality recipes regardless of your background. You don't 
                need 100k followers to gain reach on this platform, all you need is
                a delicious recipe!  
                <br /> 
                <br /> 
            </p>
            <h5>How it works 🔨</h5>
            <p>
                Users at Bottle Post Recipes are allowed to upgrade/downgrade one random 
                recipe per day. This is the most powerful metric our algorithm use for boosting 
                a post. Below is a step-by-step explanation of how it works.
                <br />
                <br />
                The user reviews the recipe.
                There are two choices:
                <br />
                <br /> 
                <span class="dark-background-2 border-radius-soft">
                    🌊 Return the recipe to 'the ocean'
                </span>
                <br /> 
                This action boosts the recipe's visibility, allowing other users to continue 
                boosting it in turns.
                <br /> 
                <br /> 
                <span class="dark-background-2 border-radius-soft">
                    ❌ Remove the recipe from 'the ocean'
                </span>
                <br /> 
                Other users will no longer be able to review this recipe.
                <br /> 
                <br /> 
                At this point, the user will be locked out from this feature for 24 hours to 
                prevent algorithm abuse.
            </p>

            <h5>A real world example</h5>
            <p>
                On other social platforms, a person can alert 30 of their friends 
                and tell them to engage 
                with their post imediately, thus increasing the chances of boosting its visibility 
                to other users. This won't work at Bottle Post Recipes because all 30 people would 
                need to be randomly picked by server-side calculations, which is very unlikely.
                <br />
                <br />
                ⚠️ NOTE
                <br />
                This web app is a prototype and the system isn't fully stable or scalable 
                at this point.  
            </p>
        </section>
    </div>
</div>
{% endblock %}
