
<section 
    id="password-confirmation-pop-up-container"
    class="flex-fixed pop-up-container backdrop-blur">
    <!-- Content -->
     <div class="flex-center mt-3">
        <div class="flex-column recipe-pop-up border-radius-soft">
            <section class="pop-up-section">
                <!-- Title -->
                <h3 class="text-white">Confirm your password</h3>
                <!-- Paragraph text -->
                <div id="password-confirmation-pop-up-info" class="text-white">
                    <!-- Generated -->
                </div>
                <input 
                    id="password-confirmation-pop-up-input"
                    class="flex-center dark-text-input mt-1 w-100"
                    type="password" 
                    placeholder="Your password"
                />
            </section>
            <!-- Submit -->
            <div class="flex-center w-100">
                <button 
                    id="password-confirmation-pop-up-confirm-button"
                    class="submit-button w-50">
                    Confirm
                </button>
            </div>
            <!-- Close button -->
            <button
                id="password-confirmation-pop-up-close-button" 
                class="close-button-fixed">
                X
            </button>
        </div>
    </div>
</section>
