
<section 
    id="recipe-editor-container" 
    class="flex-fixed pop-up-container backdrop-blur">
    <div
        id="recipe-editor" 
        class="flex-column recipe-pop-up border-radius-soft">

            <div class="recipe-item-pop-up-generated">
                <!-- Main title -->
                <h2 class="pb-3 pt-4">
                    <span 
                        id="recipe-editor-main-title" 
                        class="text-orange text-decoration-underline">
                        <!-- Conditionally rendrered title -->
                    </span>
                    <i class="fa-solid fa-gear"></i>
                </h2>

                 <!-- Info section -->
                <section class="pop-up-section mt-2 w-75">
                    <!-- How it works -->
                    <i class="fa-solid fa-circle-info fs-4 pb-2"></i>
                    <div id="recipe-editor-main-info" class="flex-column w-100">
                        <!-- Conditionally rendrered info content -->
                    </div>
                </section>

                <!-- Delete recipe button -->
                <section 
                    id="recipe-editor-delete-button-container" 
                    class="pop-up-section mt-2 w-75">
                    <p>
                        If you want to delete this recipe 
                        <span class="text-orange">(cannot be undone)</span>, 
                        you need to click on this delete button 
                        <span 
                            id="recipe-editor-delete-button-click-count" 
                            class="text-orange delete-count-number">
                            <!-- JS Generated -->
                        </span> 
                        times.
                    </p>
                    <button 
                        id="recipe-editor-delete-button"
                        class="flex-center delete-button w-100">
                        Delete recipe
                    </button>
                 </section>

                <!-- Recipe title -->
                <section class="pop-up-section">
                    <h4 class="mb-2 text-decoration-underline">Title</h4>
                    <p>Write a short title of your recipe.</p>
                    <input 
                        id="recipe-editor-title"
                        class="flex-center dark-text-input mt-1 w-50"
                        style="text-align: center"
                        type="text" 
                        name="Title" 
                    />
                </section>

                <!-- Recipe Image --> 
                <section class="pop-up-section">
                    <h4 class="mb-2 text-decoration-underline">Image</h4>
                    <p>
                        Click on the button below to upload an image of 
                        your recipe.
                    </p>
                    <input 
                        id="recipe-editor-image-upload"
                        class="dark-input mt-1" 
                        type="file" 
                        name="Image"
                        hidden
                    />
                    <label 
                        for="recipe-editor-image-upload" 
                        class="dark-file-input mb-2">
                        Select File
                    </label>
                    <div 
                        id="recipe-editor-image-preview-container" 
                        class="flex-center w-100">
                        <img 
                            src="/static/images/icons/missing.webp" 
                            alt="Recipe image"
                        />
                    </div>
                </section>

                <!-- Recipe description -->
                <section  class="pop-up-section">
                    <h4 class="mb-2 text-decoration-underline">Description</h4>
                    <p>
                        A somewhat longer description of your recipe.
                    </p>
                    <textarea 
                        id="recipe-editor-description"
                        class="flex-center dark-textarea-input mt-1 w-75" 
                        style="height: 150px"
                        name="Description"></textarea>
                </section>

                <!-- Recipe instructions -->
                <section  class="pop-up-section">
                    <h4 class="mb-2 text-decoration-underline">
                        Instructions
                    </h4>
                    <p>
                        Instruct other users on how to cook/prepare your recipe.
                    </p>
                    <textarea 
                        id="recipe-editor-instructions"
                        class="flex-center dark-textarea-input mt-1 w-75" 
                        style="height: 150px"
                        name="Description"></textarea>
                </section>

                <!-- Add ingredient component -->
                <section class="pop-up-section">
                    <h4 class="text-decoration-underline mb-3">
                        Add ingredients
                    </h4>
                    <div class="flex-center w-100">
                        <div>
                            <label for="recipe-editor-ingredient-quantity">
                                Quantity
                            </label>
                            <input 
                                id="recipe-editor-ingredient-quantity"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="text" 
                                placeholder="300g"
                                name="ingredient-quantity"
                            />
                        </div>
                        <div>
                            <label for="recipe-editor-ingredient-name">Ingredient name</label>
                            <input 
                                id="recipe-editor-ingredient-name"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="text" 
                                placeholder="Carrots"
                                name="ingredient-name"
                            />
                        </div>
                    </div>
                    <button 
                        id="recipe-editor-ingredient-add-button"
                        class="d-flex add-ingredient-button mt-3"
                        type="button">
                        Add ingredient
                    </button>
                    <i class="fa-solid fa-arrow-down pt-2 pb-2"></i>
                    <!-- Added ingredients -->
                    <ul
                        id="recipe-editor-added-ingredients" 
                        class="flex-column justify-content-start">
                            <!-- Generated js content -->
                    </ul>
                </section>

                
                <!-- Dietary attributes -->
                <section class="pop-up-section w-75">
                    <h4 class="text-decoration-underline">My recipe contains:</h4>
                    <p>
                        Your recipe will be hidden in vegan mode if you enable 
                        any of the highlighted ingredients. Tick the ones that 
                        are included in your recipe. 
                    </p>
                    <div id="recipe-editor-dietary-attributes">
                        <!-- JS generated attributes -->
                    </div>
                </section>

                <!-- Info note -->
                <div class="flex-column align-items-center w-75 mb-3 mt-1">
                    <i class="fa-solid fa-circle-info text-orange fs-4 pb-2"></i>
                    <p>
                        The fields below will not be displayed in the app just 
                        yet, but they will be saved in our system.
                    </p>
                </div>

                <!-- Recipe tags -->
                <section class="pop-up-section">
                    <h4 class="mb-2 text-decoration-underline">Tags</h4>
                    <p>Comma-separated tags</p>
                    <input 
                        id="recipe-editor-tags"
                        class="flex-center dark-text-input mt-1 w-50"
                        placeholder="eg. breakfast, light, fresh"
                        type="text" 
                        name="Tags" 
                    />
                </section>

                <!-- Preparation time -->
                <section class="pop-up-section">
                    <h4 class="text-decoration-underline mb-3">
                        Preparation time
                    </h4>
                    <div class="flex-center w-100">
                        <div>
                            <label for="recipe-editor-preparation-time-days">
                                Days
                            </label>
                            <input 
                                id="recipe-editor-preparation-time-days"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="number" 
                                value="0"
                                name="preparation-time-days"
                            />
                        </div>
                        <div>
                            <label for="recipe-editor-preparation-time-hours">
                                hours
                            </label>
                            <input 
                                id="recipe-editor-preparation-time-hours"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="number" 
                                value="0"
                                name="preparation-time-hours"
                            />
                        </div>
                        <div>
                            <label for="recipe-editor-preparation-time-minutes">
                                minutes
                            </label>
                            <input 
                                id="recipe-editor-preparation-time-minutes"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="number" 
                                value="0"
                                name="preparation-time-minutes"
                            />
                        </div>
                    </div>
                </section>

                <!-- Cooking time -->
                <section class="pop-up-section">
                    <h4 class="text-decoration-underline mb-3">
                        Cooking time
                    </h4>
                    <div class="flex-center w-100">
                        <div>
                            <label for="recipe-editor-cooking-time-days">
                                Days
                            </label>
                            <input 
                                id="recipe-editor-cooking-time-days"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="number" 
                                value="0"
                                name="cooking-time-days"
                            />
                        </div>
                        <div>
                            <label for="recipe-editor-cooking-time-hours">
                                hours
                            </label>
                            <input 
                                id="recipe-editor-cooking-time-hours"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="number" 
                                value="0"
                                name="cooking-time-hours"
                            />
                        </div>
                        <div>
                            <label for="recipe-editor-cooking-time-minutes">
                                minutes
                            </label>
                            <input 
                                id="recipe-editor-cooking-time-minutes"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="number" 
                                value="0"
                                name="cooking-time-minutes"
                            />
                        </div>
                    </div>
                </section>

                <!-- Estimated price -->
                <section class="pop-up-section">
                    <h4 class="text-decoration-underline mb-3">
                        Estimated price per meal
                    </h4>
                    <div class="flex-center w-100">
                        <div>
                            <label for="recipe-editor-estimated-price-from">
                                <i class="fa-solid fa-dollar-sign"></i> From
                            </label>
                            <input 
                                id="recipe-editor-estimated-price-from"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="number" 
                                value="0"
                                name="estimated-price"
                            />
                        </div>
                        <div>
                            <label for="recipe-editor-estimated-price-to">
                                <i class="fa-solid fa-dollar-sign"></i> To
                            </label>
                            <input 
                                id="recipe-editor-estimated-price-to"
                                class="flex-center dark-text-input mt-1"
                                style="width: 88%"
                                type="number" 
                                value="0"
                                name="estimated-price"
                            />
                        </div>
                    </div>
                </section>

                <!-- Close button -->
                <button
                    id="recipe-editor-close-button" 
                    class="close-button-fixed">
                    X
                </button>

                <!-- Submit -->
                 <div class="flex-center w-100 pb-5 pt-5">
                    <button 
                        id="recipe-editor-submit-button"
                        class="submit-button w-50" type="submit">
                        Post recipe
                    </button>
                 </div>
            </div>

    </div>
</section>
