
<div id="feed-sidebar">
    <div id="feed-sidebar-buttons-container">
        <!-- Search box -->
        <div class="mb-3">
            <input
                id="search"
                class="form-control position-absolute"
                type="text"
                placeholder="eg. baba ganoush"
            />
            <button class="btn mt-2 w-100 fs-2 text-white">
                <i class="fas fa-magnifying-glass"></i>
            </button>
        </div>
        <!-- Filter button -->
        <button class="btn mt-2 w-100 fs-2 text-white">
            <i class="fa-solid fa-filter"></i>
        </button>
        <!-- Vegan mode button -->
        <button class="btn mt-2 w-100 fs-2 text-white">
            <i class="fa-solid fa-carrot"></i>
        </button>
    </div>
</div>
