
<div id="feed-sidebar">
    <div id="feed-sidebar-buttons-container">
        {% if user.is_authenticated %}
            <!-- Search button -->
            <button 
                id="sidebar-search-button" 
                class="btn mt-2 w-100 fs-2 text-white">
                <i class="fas fa-magnifying-glass"></i>
            </button>
            <!-- Filter button -->
            <button 
                id="sidebar-filter-button" 
                class="btn mt-2 w-100 fs-2 text-white">
                <i class="fa-solid fa-filter"></i>
            </button>
            <!-- Vegan mode button -->
            <button class="btn mt-2 w-100 fs-2 text-white" id="vegan-mode-button">
                <i class="fas fa-carrot" id="vegan-mode-icon"></i>
            </button>
            <!-- Create recipe button -->
            <a href="{% url 'create_recipe' %}" class="btn mt-2 w-100 fs-2 text-white">
                <i class="fas fa-plus"></i>
            </a>
            
            <!-- Search -->
            <div 
                id="search-container" 
                class="absolute-flex sidebar-settings-container sidebar-settings-border">
                <div class="flex-center sidebar-settings flex-column w-100">
                    <div class="flex-center w-100 sidebar-settings-border-bottom">
                        <input 
                            id="search-input" 
                            class="form-control fs-6 mt-1" 
                            type="text" 
                            placeholder="eg. baba ganoush" />
                    </div>
                        <p class="text-white fs-6 mt-2 text-decoration-underline">
                            Also search in
                        </p>
                    <div 
                        id="search-areas"
                        class="flex-row justify-content-start w-100
                            sidebar-settings-border-top sidebar-settings-border-bottom">
                        <!-- JS generated search areas -->
                    </div>

                    <!-- <div class="flex-column w-100 sidebar-settings-border-top">
                        <p class="text-white fs-6 text-decoration-underline">
                            Also search in
                        </p>
                        <div id="search-areas" class="flex-column w-100 align-items-start 
                            sidebar-settings-border-bottom">
                           
                        </div>
                    </div> -->

                    <!-- Search button -->
                    <button 
                        id="search-button" 
                        class="fs-6 text-white pt-1 pb-1 submit-settings-button">
                        Search
                    </button> 
                </div>
            </div>

            <!-- Filter -->
            <div 
                id="filter-container" 
                class="absolute-flex sidebar-settings-container sidebar-settings-border">
                <div class="flex-center sidebar-settings flex-column w-100">
                    <!-- Title -->
                    <h5 class="text-white fs-6 pt-2">Filter</h5>
                    <!-- Filters -->
                    <div id="filters"
                        class="flex-row justify-content-start w-100
                            sidebar-settings-border-top sidebar-settings-border-bottom">
                        <!-- JS generated filters -->
                    </div>
                    <!-- Filter button -->
                    <button 
                        id="filter-button" 
                        class="fs-6 text-white pt-1 pb-1 submit-settings-button">
                        Search
                    </button> 
                </div>
            </div>
        {% endif %}
    </div>
</div>
