
{% if user.is_authenticated %}

<div class="dropdown position-fixed" style="right: 6.1%">
    <!-- Account button -->
    <button 
        class="dropdown-toggle account-button" 
        rounded-circleype="button" 
        id="accountDropdown" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        <!-- Profile image (Should be an image or null -->
        {% if profile.image.url %}
        <img 
            class="profile-image"
            src="{{ user.profile.image.url }}" 
            alt="Profile Picture" 
            style="width: 75px; height: 75px"
        />
        {% else %}
            <i class="fas fa-user" style="font-size: 20px; 
                color: #555b5e;"></i>
        {% endif %}
    </button>
    <!-- Dropdown menu -->
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
        <li>
            <p class="text-center">
                {{ user.username }}
            </p>
        </li>
        <li>
            <!-- TODO add href -->
            <a class="dropdown-item" href="#">
                <i class="fas fa-user"></i> Profile
            </a>
        </li>
        <li>
            <!-- TODO add href -->
            <a class="dropdown-item" href="#">
                <i class="fa-solid fa-gear"></i> Edit Account
            </a>
        </li>
        <li>
            <!-- TODO add href -->
            <a class="dropdown-item" href="#">
                <i class="fas fa-utensils"></i> Recipes
            </a>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <!-- Logout button -->
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="dropdown-item" type="submit">
                    <i class="fas fa-sign-out-alt"></i> Log out
                </button>
            </form>
        </li>
    </ul>
</div>

{% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">
        <i class="fas fa-user"></i> Log in/sign up
    </a>
{% endif %}
