
{% if user.is_authenticated %}
{% load static %}

<div class="dropdown position-fixed" style="right: 6.1%">
    <!-- Account button -->
    <button 
        class="dropdown-toggle account-button" 
        rounded-circleype="button" 
        id="account-dropdown" 
        data-bs-toggle="dropdown" 
        aria-expanded="false">
        <!-- Profile image (Should be an image or null -->
        {% if user.profile.image %}
        <div class="profile-image-container">
            <img 
                class="profile-image"
                src="{{ user.profile.image.url }}" 
                alt="Profile Picture"
            />
            {% else %}
            <img 
                class="profile-image"
                src="{% static 'images/icons/missing.webp' %}" 
                alt="Missing icon" 
            />
            {% endif %}
        </div>
        <p>Account</p>
    </button>
    
    <!-- Dropdown menu -->
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="accountDropdown">
        <li>
            <p class="text-center">
                {{ user.username }}
            </p>
        </li>
        {% if user.is_superuser %}
        <li>
            <a class="dropdown-item" href="/admin">
                <i class="fa-solid fa-user-tie"></i> 
                Admin
            </a>
        </li>
        {% endif %}
        <li>
            <button 
                id="account-button-my-recipes"
                class="dropdown-item">
                <i class="fas fa-utensils"></i> 
                My Recipes
            </button>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <button 
                id="account-button-delete-account-button"
                class="dropdown-item">
                <i class="fa-solid fa-trash  text-red"></i> 
                Delete Account
            </button>
        </li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <!-- Logout button -->
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="dropdown-item" type="submit">
                    <i class="fas fa-sign-out-alt"></i> Log out
                </button>
            </form>
        </li>
    </ul>
</div>

{% else %}
    <a href="{% url 'login' %}" class="btn btn-outline-secondary">
        <i class="fas fa-user"></i> Log in/sign up
    </a>
{% endif %}
