/* Variables */
:root {
    --recipe-item-width: 250px;
}

/* Iterated recipes */
.recipe-item-container {
    /* This prevents any non-vegan recipes to 
    flicker when loading the page*/
    display: none; 
    justify-content: center;
    align-items: center;
    position: relative;
}

.recipe-item {
    flex: 1 1 33.333%;
    max-width: 350px;
    padding: 20px 0;
}

.recipe-item-background {
    z-index: -1;
    display: flex;
    position: absolute;
    top: 75px;
    left: calc(0 - 20%);
    width: calc(var(--recipe-item-width) + 37px);
    height: 68%;
    background-color: #6f747a49;
    border-radius: 3px;
    box-shadow: 3px 3px 7px 4px #37393a8f;
}

.recipe-item-title {
    margin: 0;
    text-decoration: underline #878d8f;
}

.recipe-item-sidebar-right {
    right: 0;
    top: 0;
    height: 135px;
    width: 35px;
}

.recipe-item-bottom-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    width: 100%;
    padding: 0 10px;
    right: 0;
    top: 0;
    height: 35px;
    width: var(--recipe-item-width);
}

.recipe-item-bottom-bar i {
    color: #565e63;
    font-size: 22px;
    margin: 0 5px
}

.recipe-item-bottom-bar-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 4px;
    color: #51575a
}

/* Recipe title */
.recipe-item h4 {
    height: 30px;
    border-radius: 3px;
    font-weight: 400;
    font-size: 18px;
    padding: 0 10px;
    color: #fcfeff;
}

/* Recipe image */
.recipe-image {
    background-color: #282a2b; /* Fallback color */
    width: var(--recipe-item-width);
    object-fit: contain;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: 5px solid #2c2f30;
    border-radius: 5px;
}

/* Bottle posts button */
.recipe-item-bottle-post-count-container {
    width: 40px;
    height: 40px;
    top: 190px;
    left: 47px;
    background-color: #E0E3E5;
    box-shadow: 0 0 2px 2px #4d525650; 
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
/* When hovering the bottle, apply box shadow on both the 
bottle icon and the red counter */
.recipe-item-bottle-post-count-container:hover {
    box-shadow: 0 0 2px 3px #565a5c9e;
}
.recipe-item-bottle-post-count-container:hover .recipe-item-bottle-post-red-count {
    box-shadow: 0 0 1px 2px #565a5c9e;
}
.recipe-item-bottle-post-count-container img {
    width: 70%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 0;
}
.recipe-item-bottle-post-red-count {
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 45%;
    left: -10%;
    top: -10%;
    color: #ffffff;
    font-weight: 200;
    border: 1px solid #ffffff;
    font-size: 70%;
    background-color: #fd4f4f;
    border-radius: 50%;
}

/* In ocean */
.recipe-item-in-ocean-icon {
    color: #39cdf5;
    font-size: 130%;
    font-weight: 800;
}

/* Description */
.recipe-item-description-container {
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    width: calc(var(--recipe-item-width) + 35px);
    max-height: 50px;
    padding: 0 20px;
}
