

/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Niramit", sans-serif;
    font-style: normal; /* Remove default cursive styles */
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 5px; 
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #5e6267; 
    border-radius: 6px;
}
::-webkit-scrollbar-corner {
    background-color: #52565b; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #76797b;
}

:root {
    --sidebar-width: 70px
}

button {
    background-color: transparent;
    border: 0 transparent;
    border-radius: 5px;
}

.hidden-heading {
    display: none;
}

body {
    background-color: #494C4E;
}

.nav {
    position: relative;
    z-index: 10;
    height: 175px;
    background-color: #ffffff;
}

.nav-below {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    height: 75px;
    background-color: #404546;
}

/* Links */
.no-decoration {
    text-decoration: none;
}

/* Base classes */
.page-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0px;
    min-height: 80vh;
    color: #cbd8dc;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
}

/* Custom Bootstrap friendly classes */
.right-fib-1 {
    right: 6.1%;
}

.top-fib-1 {
    top: 6.1%;
}

.left-fib-1 {
    left: 6.1%;
}

.bottom-fib-1 {
    bottom: 6.1%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.absolute-flex {
    display: flex;
    position: absolute;
}

.relative-flex {
    display: flex;
    position: relative;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.account-button {
    border-radius: 5px;
    border: none;
    background-color: #cbd1d3b6;
    padding: 5px 10px;
    box-shadow: 0 0 4px 2px #d8dadc;
}

.account-button:hover {
    background-color: #a9b0b3b6;
}

.profile-image {
    object-fit: cover; /* Prevent stretching */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; box-shadow: none;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 8px 2px #ffffff;
}

.feed-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* Prevent sidebar overlapping */
    padding-left: var(--sidebar-width);
    margin: 130px 0px;
    min-height: 80vh;
    color: #cbd8dc;
}

.feed {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Take the left sidebar into account */
    width: calc(100% - var(--sidebar-width));
}

.feed section {
    /* Force recipe padding after flex-wrap */
    padding: 40px 10px
}

/* Sidebar as id, since it might be targeted with js later */
#feed-sidebar {
    display: flex;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #575c5e; 
}

#feed-sidebar-buttons-container {
    margin-top: 190px; /* Prevent header overlapping */
}

#search-button {
    /* display: none; */ /* Hidden by default */
    height: 34px; 
    width: 100%;
    background-color: #779ab8;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px 2px #7dd9fe;
}

#search-button:hover {
    background-color: #5b636a;
}

.sidebar-settings-container {
    display: none; /* Hidden by default */
    top: 208px; 
    left: 75px;
    width: 180px;
    padding-bottom: 10px;
    background-color: #7b8389ba;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    backdrop-filter: blur(10px);
}

.sidebar-settings {
    width: 94%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
   /*  background-color: #ffffff; */
}

.account-for-sidebar-ml {
    margin-left: var(--sidebar-width);
}

/* Hint window */
#hint-window {
    z-index: 1;
    display: none; /* Hidden by default */
    transform: scale(0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 33vw;
    height: 130px;
    background-color: #3A3C3E;
    border: 4px solid #2A2E32;
    border-radius: 7px;
}

/* Hint window title */
#hint-window-title {
    background-color: #2A2E32;
}

#hint-window-title h6 {
    font-weight: 400;
}

/* Create recipe classes */
.ingredient {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: #3f4445;
    border-radius: 4px;
    margin: 5px 0;
}

.ingredients {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    min-width: 280px;
    min-height: 300px;
    padding: 10px 10px;
    border: 2px solid #ffffff;
    border-radius: 5px;
}

.ingredient .quantity {
    background-color: #565b5c;
    border-radius: 4px;
    padding: 0 10px;
}

.remove-ingredient-btn {
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 10px;
    background-color: #ff6464;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.load-recipes-button {
    background-color: #6d7375;
    padding: 10px 0;
}

.load-recipes-button:hover {
    background-color: #747b7e;
}