

/* Override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Niramit", sans-serif;
    font-style: normal; /* Remove default cursive styles */
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 5px; 
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: #5e6267; 
    border-radius: 6px;
}
::-webkit-scrollbar-corner {
    background-color: #52565b; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #76797b;
}

/* Variables */
:root {
    --sidebar-width: 70px;
    --settings-border: 4px solid #383c3f;
    --settings-border-radius: 7px;
    --layout-box-shadow: 0 0 5px 2px #25282929;
}

em {
    font-weight: 800;
    text-decoration: underline;
}

button {
    background-color: transparent;
    border: 0 transparent;
    border-radius: 5px;
}

body {
    background-color: #494C4E;
}

.hidden-heading {
    display: none;
}

/* Header */
.nav {
    position: relative;
    z-index: 10;
    height: 175px;
    background-color: #ffffff;
}

/* The small navigation bar beneath the header */
.nav-below {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
    height: 75px;
    background-color: #404546;
    box-shadow: var(--layout-box-shadow);
}

/* Base classes */
.page-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin: 50px 0px;
    min-height: 80vh;
    color: #cbd8dc;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
}

/* Account button */
.account-button {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    background-color: #363c3e;
    padding: 5px 10px;
    box-shadow: 0 0 4px 2px #3e4142;
    color: #959fa4;
}
.account-button:hover {
    background-color: #292d2f;
    box-shadow: 0 0 2px 2px #a7adae;
}

/* Profile image */
.profile-image-container {
    object-fit: cover; /* Prevent stretching */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll; 
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #74797a;
    width: 80px;
    height: 80px;
}

.profile-image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 0 2px 2px #74797a;
}

/* Feed */
.feed-container {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    /* Prevent sidebar overlapping */
    padding-left: var(--sidebar-width);
    margin: 130px 0px;
    min-height: 80vh;
    color: #cbd8dc;
}

.feed {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /* Take the left sidebar into account */
    width: calc(100% - var(--sidebar-width));
}

.feed section {
    /* Force recipe padding after flex-wrap */
    padding: 40px 10px
}

/* Sidebar */
.feed-sidebar {
    z-index: 1;
    top: 0;
    left: 0;
    width: var(--sidebar-width);
    height: 100vh;
    background-color: #575c5e;
    box-shadow: var(--layout-box-shadow);
}
#feed-sidebar-buttons-container {
    margin-top: 190px; /* Prevent header overlapping */
}
/* Sidebar settings */
.sidebar-settings-container {
    display: none; /* Hidden by default */
    top: 208px; 
    left: var(--sidebar-width);
    width: 250px;
    background-color: #5B5F62;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Sidebar Settings button */
.submit-settings-button {
    display: flex;
    height: 100%; 
    width: 100%;
    background-color: #787d82;
    justify-content: center;
}
.submit-settings-button:hover {
    background-color: #5b636a;
}

.sidebar-settings-border-left {
    border-left: var(--settings-border);
}

.sidebar-settings-border-right {
    border-right: var(--settings-border);
}

.sidebar-settings-border-top {
    border-top: var(--settings-border);
}

.sidebar-settings-border-bottom {
    border-bottom: var(--settings-border);
}

.sidebar-settings-border {
    border: var(--settings-border);
    border-radius:  var(--settings-border-radius);
}

.sidebar-settings {
    width: 94%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
}

/* Hint window */
#hint-window {
    z-index: 1;
    display: none; /* Hidden by default */
    transform: scale(0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 33vw;
    height: 130px;
    background-color: #3A3C3E;
    border: 4px solid #2A2E32;
    border-radius: 7px;
}

/* Hint window title */
#hint-window-title {
    background-color: #2A2E32;
}

#hint-window-title h6 {
    font-weight: 400;
}

.background-texture {
    z-index: -1;
    display: flex;
    flex-direction: row;
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%;
    background-repeat: repeat-y repeat-x;
    background-size: 145px; 
    object-fit: cover; 
    opacity: 0.12;
    background-image: url('../images/textures/cutlery.svg');
}

#recipe-viewer-container {
    visibility: hidden; /* Hidden by default */
    z-index: 10;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #25282983;
}

#recipe-viewer {
    position: relative;
    padding-top: 40px;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
    height: 95vh;
    background-color: #252829;
    overflow: auto;
    /* box-shadow: 0 0 2px 2px #ffffff; */
}

/* Target sections */
#recipe-viewer-generated section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

/* Target images */
#recipe-viewer-generated img {
    display: flex;
    position: relative;
    background-color: #282a2b; /* Fallback color */
    width: 75%;
    object-fit: contain;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    border: 5px solid #2c2f30;
    border-radius: 5px;
}

#recipe-viewer-generated {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 90%;
    min-height: 80vh;
    height: fit-content;
    border-radius: 10px;
}

.comment-section {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
}

.comment-section > div:first-child {
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px 5px;
    background-color: #494e51;
    border-radius: 10px;
    min-height: 300px;
    max-height: 300px;
    overflow: auto;
}

.comment-section textarea {
    padding: 13px 15px;
    margin: 20px 0;
}

.comment-item {
    padding: 5px 8px;
    border-radius: 10px;
    display: inline-block;

}
.comment-item-user {
    padding: 5px 8px;
}
.comment-item-date {
    padding: 5px 8px;
    color: #7f8589;
}
.comment-item-text {
    background-color: #333638;
    padding: 5px 8px;
}

.comment-input {
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    min-height: 120px;
    background-color: #ffffff;
    border-radius: 10px;
}
