{% extends "base.html" %} {% block content %} {% load static %}
{% include 'components/page/hint_window.html' %}

<div class="feed-container">
    <div class="feed"> 
        <!-- TODO Add recipes here -->
        {% if user.is_authenticated %}
            {% for item in test_data %}
                <h1>{{ item.test }}</h1>
            {% endfor %}
        {% else %}
            <!-- Inform that a login is required -->
            {% include 'components/user/login_required.html' %}
        {% endif %}
    </div>
</div>

{% endblock %}
