{% extends "base.html" %} {% block content %}
{% load static %}
{% include 'components/page/hint_window.html' %}

<div class="page-container">
    <div class="page">
        {% if user.is_authenticated %}
            <!-- Info section -->
            <section class="create-recipe-section mt-4">
                <!-- How it works -->
                <h5 class="text-decoration-underline text-align-center">
                    How it works <i class="fa-solid fa-gear"></i>
                </h5>
                <p>
                    When you publish a recipe it will enter the 
                    'ocean' <i class="fa-solid fa-water recipe-item-in-ocean-icon"></i>
                    Randomly selected users will then be able to either, boost your recipe
                    <em>or remove it from the ocean.</em> If users find value in your recipe, 
                    they may boost it by putting it back into the ocean. 
                    <span>
                        <img 
                            src="/static/images/global/logo.png" 
                            alt="Bottle post icon" 
                            style="background-color: transparent; width: 25px; 
                            height: auto; filter: invert(100%)" 
                        />
                    </span>
                    <br />
                    The more times your recipe gets passed around in the community, 
                    the higher it will rank! In other words, your reach is determined by 
                    the <em>quality of your recipes</em> rather than your ability to 
                    network.
                </p>
                <!-- Rules -->
                <h5 class="text-decoration-underline">Rules</h5>
                <p>
                    You cannot spam recipes into the ocean, and must wait <em>24 hours</em>
                    before publishing another one.
                </p>
            </section>

            <!-- Publish a recipe form -->
            <form id="recipe-form" class="flex-column align-items-center w-100">     
                <h2 class="mb-4 text-decoration-underline">Publish a recipe</h2>
                <!-- Title -->
                <section class="create-recipe-section">
                    <h4 class="mb-2 text-decoration-underline">Title</h4>
                    <p>A short title of your recipe.</p>
                    <input 
                        id="create-recipe-title"
                        class="form-control mt-1"
                        type="text" 
                        name="Title" 
                    />
                </section>
                <!-- Image -->
                <section class="create-recipe-section">
                    <h4 class="mb-2 text-decoration-underline">Image</h4>
                    <p>Make your recipe stand out by uploading an image!</p>
                    <div 
                        id="create-recipe-image-preview-container" 
                        class="flex-center w-100"
                        style="border: solid 4px #2f3435; border-radius: 10px;
                            background-color: #282a2b; ">
                        <img 
                            src="/static/images/icons/missing.webp" 
                            alt="Recipe preview image" 
                            class="flex-center w-50"
                        />
                    </div>
                    <input 
                        id="create-recipe-image"
                        class="form-control mt-1 mb-4" 
                        type="file" 
                        name="Image"
                    />
                </section>
                <!-- Description -->
                <section class="create-recipe-section">
                <h4 class="mb-2 text-decoration-underline">Description</h4>
                <p>Describe your recipe.</p>
                <textarea 
                    id="create-recipe-description"
                    class="form-control mt-1" 
                    style="height: 150px"
                    value=""
                    name="Description"></textarea>
                </section>
                <!-- Dietary attributes -->
                <section class="create-recipe-section">
                    <h4 class="text-decoration-underline">My recipe contains:</h4>
                    <p>Tick the ones that are included in your recipe.</p>
                    <div id="create-recipe-dietary-attributes"><!-- JS generated --></div>
                </section>
                <!-- Tags -->
                <section class="create-recipe-section">
                    <h4 class="mb-3 text-decoration-underline">Tags</h4>
                    <p>Comma separated keywords.</p>
                    <input 
                        id="create-recipe-tags"
                        class="form-control mt-1"
                        type="text" 
                        name="Tags" 
                    />
                </section>
                <!-- Instruction -->
                <section class="create-recipe-section">
                    <h4 class="mb-3 text-decoration-underline">Instruction</h4>
                    <p>Instruction how to cook your recipe.</p>
                    <textarea 
                        id="create-recipe-instructions"
                        class="form-control mt-1" 
                        style="height: 150px"
                        name="Description"></textarea>
                </section>
                <!-- Ingredient section -->
                <section class="create-recipe-section">
                    <h4 class="mb-3 text-decoration-underline">
                        Add ingredients
                    </h4>
                    <div class="d-flex w-75 align-items-end">
                        <div>
                            <label for="create-recipe-ingredient-quantity">
                                Quantity
                            </label>
                            <input 
                                id="create-recipe-ingredient-quantity" 
                                type="text" 
                                placeholder="300g" 
                                class="form-control p-2" 
                            />
                        </div>
                        <div>
                            <label for="create-recipe-ingredient-name">Ingredient name</label>
                            <input 
                                id="create-recipe-ingredient-name" 
                                type="text" 
                                placeholder="Carrots" 
                                class="form-control p-2" 
                            />
                        </div>
                        <button 
                            id="create-recipe-add-ingredient-btn"
                            type="button" 
                            class="btn btn-secondary h-50">
                            Add
                        </button>
                    </div>
                    <!-- Added ingredients -->
                    <h4 class="mb-3 mt-3">Added ingredients</h4>
                    <div id="create-recipe-ingredients-list" class="ingredients">
                        <!-- Generated js content -->
                    </div>
                </section>
                <!-- Preparation time -->
                <section class="create-recipe-section">
                    <h4>Preparation time</h4>
                    <div id="create-recipe-preparation-time"><!-- JS generated --></div>
                </section>
                <!-- Cooking time -->
                <section class="create-recipe-section">
                    <h4>Cooking time</h4>
                    <div id="create-recipe-cooking-time"><!-- JS generated --></div>
                </section>
                <!-- Price estimation -->
                <section class="create-recipe-section">
                    <h4>Price estimation ($)</h4>
                    <div id="create-recipe-estimate-price"><!-- JS generated --></div>
                </section>
                <!-- Submit -->
                <button class="btn btn-outline-secondary text-white mt-4 w-25" type="submit">
                    Post recipe
                </button>
            </form>
        {% else %}
            <!-- Inform that a login is required -->
            {% include 'components/user/login_required.html' %}
        {% endif %}
    </div>
</div>

<!-- Run the script -->
<script type="module" src="{% static 'js/create_recipe.js' %}"></script>

{% endblock %}
