{% extends "base.html" %} {% block content %} {% load static %}

<!-- Sidebar -->
{% include 'components/page/sidebar.html' %}
<!-- Hint window -->
{% include 'components/page/hint_window.html' %}

<div class="feed-container">
    <!-- Check authentication -->
    {% if user.is_authenticated %}
        <!-- Recipe feed -->
        {% include 'components/page/recipe_feed.html' with recipes=recipes %}
    {% else %}
        <!-- Inform that a login is required to explore the app -->
        {% include 'components/user/login_required.html' %}
    {% endif %}
</div>

<!-- Pass data into js -->
<script type="application/json" id="user-profile-data">
    {{ user_profile|safe }}
</script>

<script type="application/json" id="recipesJSON-data">
    {{ recipesJSON|safe }}
</script>

<!-- Feed logic -->
{% if user.is_authenticated %}
    <script type="module" src="{% static 'js/feed.js' %}"></script>
{% endif %}

{% endblock %}
