{% extends "base.html" %} {% block content %} {% load static %}

{% include 'components/page/sidebar.html' %}
{% include 'components/page/hint_window.html' %}

<div class="feed-container">
    <div class="feed"> 
        <!-- TODO Add recipes here -->
        {% if user.is_authenticated %}
            {% for item in test_data %}
                <h1>{{ item.test }}</h1>
            {% endfor %}
        {% else %}
        <div class="container p-2">

            <h3>
                You must
                <a class="btn-outline-secondary text-white" href="{% url 'login' %}">
                    Log in
                </a>
                 to use this app.
            </h3>
            <p class="mt-3">
                Don't have an account? 
                <a class="btn-outline-secondary text-white" href="{% url 'register' %}">
                    Sign up!
                </a>
            </p>
        </div>
        {% endif %}
    </div>
</div>

<!-- Pass data into js -->
<div id="user-data" data-profile="{{ user_profile|safe }}"></div>
<script type="application/json" id="user-profile-data">
    {{ user_profile|safe }}
</script>

<!-- Feed logic -->
{% if user.is_authenticated %}
    <script type="module" src="{% static 'js/feed.js' %}"></script>
{% endif %}

{% endblock %}
