<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    {% if title %}
    <title>Bottle Post Recipes - {{ title }}</title>
    {% else %}
    <title>Bottle Post Recipes</title>
    {% endif %}
    {% load static %}
    <!-- Favicon -->
    <link 
        rel="icon" 
        type="image/ico" 
        sizes="16x16" 
        href="{% static 'favicon/favicon_16x16.ico' %}">
    <link 
        rel="icon" 
        type="image/ico" 
        sizes="32x32" 
        href="{% static 'favicon/32x32.ico' %}">
    <link 
        rel="icon" 
        type="image/ico" 
        sizes="192x192" 
        href="{% static 'favicon/192x192.ico' %}">
    <link 
        rel="icon" 
        type="image/ico" 
        sizes="512x512" 
        href="{% static 'favicon/512x512.ico' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap_friendly.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/recipe_item.css' %}" />
    <link rel="stylesheet" href="{% static 'css/pop_up.css' %}" />
</head>

<body>
    <!-- Header -->
    <nav class="nav">
        <div class="d-flex w-100 h-100 justify-content-center">
            <div class="flex-column w-auto h-100 justify-content-end 
                align-items-center">
                <a class="navbar-brand interactive-turn" href="{% url 'home' %}">
                    <img 
                        class="mb-2" 
                        src="{% static 'images/global/logo_white.webp' %}" 
                        alt="Logo"
                        style="width: 60px; height: auto" />
                </a>
                <p>Bottle Post Recipes</p>
            </div>
            <div class="absolute-flex top-0 mt-3 right-fib-1">
                <!-- Account component -->
                {% include 'components/user/account_button.html' %}
            </div>
        </div>
    </nav>

    <!-- Header below -->
    <nav class="nav-below w-100">
        <div class="d-flex w-75 mb-1 justify-content-end">
            <a class="no-decoration text-white" href="/about">
                About
            </a>
        </div>
    </nav>

    <!-- Page content -->
    <div class="z-index-1 relative-flex">
        <div class="background-texture"></div>
        {% block content %}{% endblock %}
        <!-- Password confirmation pop-up -->
        {% include 'components/page/password_confirmation_pop_up.html' %}
        <!-- Loading container -->
        <section id="loading-container" style="z-index: 10;">
            <div class="flex-center">
                <button class="flex-center">
                    <img
                        src="/static/images/global/logo_black.webp" 
                        alt="Bottle post icon" 
                        style="background-color: transparent;" />
                </button>
            </div>
            <h3>Loading</h3>
        </section>
        <!-- Hint window -->
        {% include 'components/page/hint_window.html' %}
    </div>

    <footer class="flex-column dark-background pt-5 pb-3 w-100 
        align-items-end">

         <div class="flex-column"
            style="width: 200px;">
            <a href="/terms_of_service" class="text-white no-decoration pb-2">
                Terms of service
            </a>
        
            <a href="/privacy_policy" class="text-white no-decoration pb-3">
                Privacy Policy
            </a>
         </div>
    </footer>

    <!-- Font Awesome script -->
    <script src="https://kit.fontawesome.com/bd00d9a4cc.js" crossorigin="anonymous">
    </script>
    <!-- Bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!-- App logic -->
    <script type="module" src="{% static 'js/app.js' %}"></script>
</body>

</html>
